<div class="row text-center">
        <div class="col-md-6 offset-3">
            <h1 class="text-info">The item that you are looking for is not exist, or there are some errors with your search</h1>
                <hr />
             <a class="btn btn-outline-secondary"  asp-controller="Book" asp-action="Index">Home Page</a>
        </div>

</div>